<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="stylepage5.css">
   </head>
<body>
<h1>Shopping Cart</h1>
<h3>Canvas Print</h3>
<p>Price: 100€</p>
<p>Quantity: 1</p>
<form action="/checkout" method="post">
    <input type="submit" value="Proceed to Checkout"></input>
</body>
</html>